# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Lluis\Google Drive\UOC\Master Web\HTML-CSS 2\PAC3\html-css-2-pac3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
